# STRINGS

    String Data Type

        1. Strings are Immutable
            --> we can not change the data on same location 
                if we try to change the data then location will also be changed.

        2. String are Iterable
            --> Can traverse in a sequence

        3. Strings are Subscriptable
            --> If we can access each element from index location

#### Immutable

In [1]:
s = "Hello python"

In [2]:
id(s)

1598766511920

In [3]:
s = "Hello world from python"

In [4]:
id(s)

1598766413744

#### Iterable

In [15]:
print(s)

Hello world from python

In [4]:
print(*s, sep="")

Hello world from python

#### Subscriptable

In [17]:
# forward indexing
s[0]

'H'

In [18]:
s[10]

'd'

In [19]:
# backward indexing
s[-1]

'n'

In [20]:
s[-10]

'r'

### Common functions

In [5]:
# upper()
s.upper()

'HELLO WORLD FROM PYTHON'

In [6]:
id(s)

1598766413744

In [7]:
s

'Hello world from python'

In [8]:
s = s.upper()
id(s)

1598766570512

In [9]:
# lower()
s.lower()

'hello world from python'

In [22]:
# capitalize() - only the first letter capitalised
s.capitalize()

'Hello world from python'

In [23]:
# title() - first letter of every word is capitalised
s.title()

'Hello World From Python'

In [7]:
s = "Hellofromshecoders"

In [8]:
s.isalpha()

True

In [12]:
x = "9"
x.isdigit()

True

In [13]:
s.isidentifier()

True

In [15]:
s.rindex("e")

15

### Partition

    takes an argument

    partition the string in 3 parts

    1. left side of argument
    2. argument self
    3. right side of argument

    return a tuple

In [24]:
s

'Hello world from python'

In [25]:
s.partition('f')

('Hello world ', 'f', 'rom python')

In [26]:
s.partition('p')

('Hello world from ', 'p', 'ython')

In [27]:
s.partition('o')

('Hell', 'o', ' world from python')

In [28]:
# partition from right side
s.rpartition('o')

('Hello world from pyth', 'o', 'n')

In [29]:
# case sensitive
s.partition('h')

('Hello world from pyt', 'h', 'on')

In [30]:
s.partition('H')

('', 'H', 'ello world from python')

In [31]:
# what if element is not present?
s.partition('z')

('Hello world from python', '', '')

In [16]:
s.partition()

TypeError: partition() takes exactly one argument (0 given)

### Split

    1. takes the argument by default ---> space

    2. return list

    3. Does not part the string in exactly 3 parts

In [33]:
s

'Hello world from python'

In [32]:
s.split('f')

['Hello world ', 'rom python']

In [34]:
s.split('o')

['Hell', ' w', 'rld fr', 'm pyth', 'n']

In [35]:
s.split('z')

['Hello world from python']

In [36]:
s.split()

['Hello', 'world', 'from', 'python']

#### Strip

In [38]:
a = " Hey there "

In [39]:
a.strip()

'Hey there'

In [40]:
s

'Hello world from python'

In [41]:
s.strip('n')

'Hello world from pytho'

In [43]:
'                                            '.strip()

''

#### Join
    
    [element to insert].join([element to be inserted in])

In [44]:
'*'.join("Hello")

'H*e*l*l*o'

In [45]:
' '.join("Hey")

'H e y'

In [18]:
' '.join("12345")

'1 2 3 4 5'

#### Slicing

In [46]:
s

'Hello world from python'

In [47]:
s[1:6:1]

'ello '

In [48]:
s[1:6]

'ello '

In [49]:
s[1:6:2]

'el '

In [50]:
s[1:6:-2]

''

In [51]:
s[6:1:-2]

'wol'

In [52]:
s[:]

'Hello world from python'

In [53]:
# reverse
s[::-1]

'nohtyp morf dlrow olleH'

In [54]:
# starting 5 elements
s[:5]

'Hello'

In [55]:
# last 5 elements
s[-5:]

'ython'

# LISTS

    * Lists are used to store multiple items in a single variable.
    
    1. Mutable Data Type

    2. Iterable Data Type

    3. Subsriptable Data Type

    4. Collection of Similar and Different Data type

    5. Ordered Collection of Data

In [89]:
l = [1,2,3,4,5]

In [57]:
type(l)

list

In [59]:
id(l)

1598798781696

In [90]:
l = [1,2,3,4,5,"python","shecoders"]

In [60]:
id(l)

1598798781696

In [61]:
print(l)

[1, 2, 3, 4, 5, 'python', 'shecoders']

In [64]:
print(*l,sep="\t")

1	2	3	4	5	python	shecoders

In [68]:
l[0]

1

In [69]:
l[-1]

'shecoders'

In [65]:
l[1:6]

[2, 3, 4, 5, 'python']

In [91]:
l[::-1]

['shecoders', 'python', 5, 4, 3, 2, 1]

In [92]:
l.reverse()

In [93]:
l

['shecoders', 'python', 5, 4, 3, 2, 1]

In [94]:
l.reverse()
l

[1, 2, 3, 4, 5, 'python', 'shecoders']

In [95]:
l.append("hi")

In [96]:
l

[1, 2, 3, 4, 5, 'python', 'shecoders', 'hi']

In [97]:
l.pop()

'hi'

In [98]:
l.pop(1)

2

In [99]:
l

[1, 3, 4, 5, 'python', 'shecoders']

In [100]:
l.insert(2, "bye")

In [101]:
l

[1, 3, 'bye', 4, 5, 'python', 'shecoders']

In [102]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [105]:
l1 = [12,54,67,10,100]
l1.sort()
print(*l1)

10 12 54 67 100

In [106]:
l1.sort(reverse=True)
print(*l1)

100 67 54 12 10

In [134]:
len(l)

7

In [135]:
max(l)

TypeError: '>' not supported between instances of 'str' and 'int'

In [136]:
max(l1)

100

In [137]:
min(l1)

10

In [175]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]

In [176]:
l1 + l2

[1, 2, 3, 4, 5, 6, 7, 8]

In [107]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

# TUPLE

    1. Collection of similar and different data type
    
    2. Iterable
    
    3. Subscriptable
    
    4. Immutable

In [110]:
t = (10,20,30,40,50, "shecoders")

In [111]:
type(t)

tuple

In [112]:
print(*t)

10 20 30 40 50 shecoders

In [113]:
t[0]

10

In [114]:
t[1:6]

(20, 30, 40, 50, 'shecoders')

In [115]:
# immutable so cannot add elements
t.append(100)

AttributeError: 'tuple' object has no attribute 'append'

In [116]:
# convert into list
# append
# convert back into tuple

In [117]:
t = list(t)
t.append(100)
t= tuple(t)

print(t)

(10, 20, 30, 40, 50, 'shecoders', 100)

# SETS

    1. Collection of Immutable Data Type(String,Tuple,Number)

    2. Collection of Unique Values

    3. Mutable Data Type

    4. Iterable

    5. Not Subscriptable

    6. Unordered Data Type

In [118]:
s = {1,2,3,4,5}

In [119]:
type(s)

set

In [120]:
s = {1, 2, 3, (10,20), "shecoders"}

In [121]:
type(s)

set

In [122]:
s = {1, 2, 3, [10,20]}

TypeError: unhashable type: 'list'

In [129]:
# unique values only

s = {1, 2, 3, 3, 4, 5, 2, 1}

# iterable
print(*s)

1 2 3 4 5

In [125]:
s[0]

TypeError: 'set' object is not subscriptable

In [130]:
# mutable
s.add(100)
s

{1, 2, 3, 4, 5, 100}

In [131]:
s.remove(5)
s

{1, 2, 3, 4, 100}

In [132]:
s.pop()

1

In [133]:
s

{2, 3, 4, 100}

In [138]:
s1 = {1,2,3,4,5}
s2 = {1,2,10}

In [139]:
s1.union(s2)

{1, 2, 3, 4, 5, 10}

In [140]:
s1.intersection(s2)

{1, 2}

In [141]:
s1.issubset(s2)

False

In [142]:
s1.issuperset(s2)

False

In [144]:
s2.difference(s1)

{10}

In [145]:
s1.isdisjoint(s2)

False

# DICTIONARY


        1. Collection of key and value pair
        
        2. NOT support indexing
        
        3. Mutable
        
        4. iterable
        
        5. ordered

In [147]:
d = {"nitr"}

In [148]:
type(d)

set

In [167]:
d = {"nitr": "rourkela"}

In [150]:
type(d)

dict

In [151]:
d[0]

KeyError: 0

In [152]:
d["nitr"]

'rourkela'

In [153]:
d["iitb"]

KeyError: 'iitb'

In [168]:
d["iitb"] = "mumbai"

In [169]:
d

{'nitr': 'rourkela', 'iitb': 'mumbai'}

In [156]:
len(d)

2

In [157]:
d.keys()

dict_keys(['nitr', 'iitb'])

In [158]:
d.values()

dict_values(['rourkela', 'mumbai'])

In [159]:
d.items()

dict_items([('nitr', 'rourkela'), ('iitb', 'mumbai')])

In [160]:
print(*d)

nitr iitb

In [161]:
print(*d.items())

('nitr', 'rourkela') ('iitb', 'mumbai')

In [163]:
d.update(iitb="bombay")

In [164]:
d

{'nitr': 'rourkela', 'iitb': 'bombay'}

In [170]:
d.pop("iitb")

'mumbai'

In [171]:
d

{'nitr': 'rourkela'}

In [172]:
d_new = {"odisha": "india"}

In [173]:
d + d_new

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'